
body {
    font-family: 'Verdana', sans-serif;
    font-size: 10pt;
}

h1 {
    text-align: left;
    font-size: 12pt;
    margin: 26px 0 0 0;
    padding: 8px 0 8px 0;
    /*background-color: #ff7f0c;*/
}

.top {
    text-align: left;
    width: 960px;
    margin: auto;
}

h1 > small {
    margin: 0 0 0 26px;
    font-size: 10pt;
    font-weight: 400;
}
 .popover {
      z-index: 9000;
 }

.tooltip {
    position: absolute;
    top: 100px;
    left: 100px;
    -moz-border-radius:5px;
    border-radius: 5px;
    border: 2px solid #000;
    /* background: #222222; */
    background: #fff;
    opacity: .9;
    /* color: #eeeeee; */
    color: black;
    padding: 10px;
    width: 300px;
    font-size: 7pt;
    z-index: 10;
}

.tooltip .title {
        font-size: 10pt;
}

.tooltip .name {
  font-weight:bold;
}

a {
      text-decoration: none;
      color: #ff7f0c;
}

a:visited {
      color: #08c;
}

a:hover {
      text-decoration: underline;
}

article {
      margin: auto auto auto auto;
      text-align: center;
}

svg {
      border: 1px solid #e0e0e0;
      margin: 20px auto 20px auto;
}

footer {
    text-align: center;
}

a > circle {
      fill: #ff7f0c;
}

a:visited > circle {
      fill: #08c;
      stroke: #00c;
}

a:hover > circle {
      stroke: #000;
}
